extends ../../layouts/layout

block variables
  -
    const pageName = 'service-maintenance'
    const pageTitle = 'service-maintenance'

block content
  main
    +section('--pb0')
      .inner
        +section__head
          +ui-h1('СЕРВИСНЫЕ ПАКЕТЫ NISSAN')
        .img-16-9: img(src='../../images/service-maintenance.jpg' alt='')
    +section
      .inner
        +links('--flex-center')
          +ui-button('Сервисный контракт')(href='#')
          +ui-button('Базовое ТО')(href='#')
    +section
      .inner
        +section__head('--text-start')
          +ui-h2('СЕРВИСНЫЙ КОНТРАКТ NISSAN')
        +about
        +footnote
          p * Сервисный контракт – это пакет из нескольких очередных ТО, приобретаемых единовременно, включает в себя все обязательные регламентные работы и запасные части/расходные материалы, входящие в соответствующее ТО согласно рекомендациям изготовителя (проведение дополнительных операций, не входящих в ТО, не покрывается Сервисным контрактом).
          p ** ТО – периодическое техническое обслуживание, рекомендованное изготовителем.
    +section('--ov-h')
      .inner
        +section__head('--text-start')
          +ui-h4('Преимущества СЕРВИСНОГО КОНТРАКТА NISSAN')
        +slider
          +features.swiper-slide
    +section('--pt0')
      .inner
        +accordions
          +accordions__item('Условия программы')
            +ui-ul('')
              li Приобрести* Сервисный контракт можно при покупке нового автомобиля и до прохождения второго ТО
              li Действие программы может распространяться на автомобиль, проданный официальным дилером Nissan на территории РФ
              li Владельцем автомобиля, участвующего в программе, может быть как физическое, так и юридическое лицо
              li Стоимость Сервисного контракта может быть включена в сумму автокредита (при покупке нового автомобиля)
              li При перепродаже автомобиля Сервисный контракт может быть передан новому владельцу.
            +footnote
              p * Условия приобретения «Сервисного контракта» уточняйте у официальных дилеров Nissan, участвующих в программе.
    +section
      .inner
        +section__head('--text-start')
          +ui-h4('УЗНАЙТЕ СТОИМОСТЬ СЕРВИСНОГО КОНТРАКТА ДЛЯ АВТОМОБИЛЕЙ NISSAN')
        +accordions
          -for(let i=0; i<5; i++)
            +accordions__item('Возраст 0-12 мес., пробег 0-15000')
              +ui-table
                table
                  thead
                    tr
                      th МОДЕЛЬ 
                      th ПАКЕТ 
                      th СРОК
                      th ПРОБЕГ 
                      th СТОИМОСТЬ
                  tbody
                    tr
                      td Juke 1.6
                      td Сервис 36
                      td 36 месяцев
                      td 45 тыс. км
                      td недоступен
                    tr
                      td Juke 1.6
                      td Сервис 48
                      td 48 месяцев
                      td 60 тыс. км
                      td недоступен
                    tr
                      td Juke 1.6
                      td Сервис 60
                      td 60 месяцев
                      td 75 тыс. км
                      td недоступен
                    tr
                      td &nbsp;
                      td &nbsp;
                      td &nbsp;
                      td &nbsp;
                      td &nbsp;
                  thead
                    tr
                      th МОДЕЛЬ
                      th ПАКЕТ
                      th СРОК
                      th ПРОБЕГ
                      th СТОИМОСТЬ
                  tbody
                    tr
                      td Qashqai 1.2
                      td Сервис 36
                      td 36 месяцев
                      td 45 тыс. км
                      td 54700
                    tr
                      td Qashqai 1.2
                      td Сервис 48
                      td 48 месяцев
                      td 60 тыс. км
                      td 92800
                    tr
                      td Qashqai 1.2
                      td Сервис 60
                      td 60 месяцев
                      td 75 тыс. км
                      td 109500
                    tr
                      td Qashqai 2.0
                      td Сервис 36
                      td 36 месяцев
                      td 45 тыс. км
                      td 59700
                    tr
                      td Qashqai 2.0
                      td Сервис 48
                      td 48 месяцев
                      td 60 тыс. км
                      td 90800
                    tr
                      td Qashqai 2.0
                      td Сервис 60
                      td 60 месяцев
                      td 75 тыс. км
                      td 108000
                    tr
                      td Qashqai dsl
                      td Сервис 36
                      td 36 месяцев
                      td 45 тыс. км
                      td 63000
                    tr
                      td Qashqai dsl
                      td Сервис 48
                      td 48 месяцев
                      td 60 тыс. км
                      td 97400
                    tr
                      td Qashqai dsl
                      td Сервис 60
                      td 60 месяцев
                      td 75 тыс. км
                      td 128600
