mixin benefits(mods)
  -
    const baseName = 'benefits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .benefits(class=allMods)&attributes(attributes)
    a.benefits__item(href='#')
      .benefits__icon: img(src='../../images/benefits_1.svg' alt='')
      .benefits__name Запись на сервис
    block
