mixin form-success(mods)
  -
    const baseName = 'form-success'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .form-success(class=allMods)&attributes(attributes)
    .form-success__icon: +svg('icon_check')
    .form-success__title Заявка успешно отправлена
    block
