.form-success {
  position: relative;
  padding: 16px 0;
  font-size: 16px;
  text-align: center;
  &__icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 16px;
    padding: 15px;
    background-color: #ddd;
    border-radius: 50%;
    color: #00ac35;
  }
}
