mixin about(mods, type)
  -
    const baseName = 'about'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .about(class=allMods)&attributes(attributes)
    if pageName === 'main'
      .about__section.about__section--head
        +ui-h2('НИССАН - машина БУДУЩЕГО', '--light')
        +ui-p1('Вы желаете быть обладателем удобной, современной, компактной и недорогой в эксплуатации машины? Вам нужен автомобиль, который будет полностью отвечать вашим требованиям?', '--light')
          br
          |  Вы можете купить новый Ниссан в Воронеже у официального дилера - Мотор Ленд. Большая емкость для багажа, большая грузоподъемность, поразительная динамика. Новые модели этой марки могут похвастаться отличными в своем классе возможностями и все это за совершенно доступную цену – покупайте автомобили Nissan.
      .about__section
        .about__img.img-16-9: img(src='../../images/qashqai.jpg' alt='')
        .about__text
          +ui-h2('В чем ПРЕИМУЩЕСТВА?', 'about')
          +ui-p1('Ниссан – это всегда удачно вложенные инвестиции. Это экономия на расходах, связанных с топливом и 20% понижение эксплуатационных расходов по сравнению с аналогичным автомобилем любой выбранной марки. Приобретая авто у нас, вы экономите не только на расходах, но и на времени. Владельцы этой марки не обременены вынужденными визитами к механикам и постоянными остановками на заправочных станциях.', '--light')
      .about__section
        .about__text
          +ui-p1('', '--light')
            p Официальный дилер Ниссан в Воронеже Nissan Мотор Ленд предлагает не просто купить автомобиль, мы предлагаем получать максимальное удовольствие от вождения при минимуме шума каждый день. Владелец может преодолевать любые расстояния на любых трассах по аккомпанемент тишины и европейского комфорта.
            p Кто сказал, что работа двигателя должна быть обязательно связана с шумом и вибрациями? Даже на мощных моделях динамическое ускорение происходит в абсолютной тишине. А после далекой поездки вы чувствуете себя замечательно, нежели после преодоления большого расстояния на другой машине. Хотите купить Ниссан в Воронеже? Официальный дилер - Nissan Мотор Ленд, цены Воронежа в котором на модели этой марки соответственно достаточно низкие, всегда рад помочь вам с выбором Мы не делаем дополнительных наценок, а пользуемся исключительно рыночными расценками производителя.
        .about__img.img-16-9: img(src='../../images/qashqai.jpg' alt='')
      .about__section
        .about__img.img-16-9: img(src='../../images/qashqai.jpg' alt='')
        .about__text
          +ui-p1('', '--light')
            p Официальный дилер Ниссан в Воронеже Nissan Мотор Ленд предлагает не просто купить автомобиль, мы предлагаем получать максимальное удовольствие от вождения при минимуме шума каждый день. Владелец может преодолевать любые расстояния на любых трассах по аккомпанемент тишины и европейского комфорта.
            p Кто сказал, что работа двигателя должна быть обязательно связана с шумом и вибрациями? Даже на мощных моделях динамическое ускорение происходит в абсолютной тишине. А после далекой поездки вы чувствуете себя замечательно, нежели после преодоления большого расстояния на другой машине. Хотите купить Ниссан в Воронеже? Официальный дилер - Nissan Мотор Ленд, цены Воронежа в котором на модели этой марки соответственно достаточно низкие, всегда рад помочь вам с выбором Мы не делаем дополнительных наценок, а пользуемся исключительно рыночными расценками производителя.
      .about__section
        .about__text
          +ui-h3('NISSAN МОТОР ЛЕНД В ВОРОНЕЖЕ - ОФИЦИАЛЬНЫЙ дилер', 'about')
          +ui-p1('', '--light')
            p Официальный дилер Ниссан в Воронеже Nissan Мотор Ленд предлагает не просто купить автомобиль, мы предлагаем получать максимальное удовольствие от вождения при минимуме шума каждый день. Владелец может преодолевать любые расстояния на любых трассах по аккомпанемент тишины и европейского комфорта.
            p Кто сказал, что работа двигателя должна быть обязательно связана с шумом и вибрациями? Даже на мощных моделях динамическое ускорение происходит в абсолютной тишине. А после далекой поездки вы чувствуете себя замечательно, нежели после преодоления большого расстояния на другой машине. Хотите купить Ниссан в Воронеже? Официальный дилер - Nissan Мотор Ленд, цены Воронежа в котором на модели этой марки соответственно достаточно низкие, всегда рад помочь вам с выбором Мы не делаем дополнительных наценок, а пользуемся исключительно рыночными расценками производителя.
        .about__img.img-16-9: img(src='../../images/qashqai.jpg' alt='')
    else if pageName === 'service-maintenance'
      .about__section
        .about__img.img-16-9: img(src='../../images/qashqai.jpg' alt='')
        .about__text
          +ui-p1('', '--light')
            p Сервисный контракт* – это пакет из нескольких периодических ТО**.
            p Все ТО в рамках контракта выполняются в строгом соответствии с руководством по эксплуатации автомобиля и включают в себя все регламентные работы и необходимые запчасти.
    block
