mixin services-inner(mods)
  -
    const baseName = 'services-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .services-inner(class=allMods)&attributes(attributes)
    .services-inner__banner
      .services-inner__img: img(src='../../images/services-cover.jpg' alt='')
      .inner
        h1.services-inner__h1 ремонт ДВИГАТЕЛЯ НИССАН
        .services-inner__contacts
          a(href='tel:+74732112290') +7 (473) 211-22-90
          a(href='/about/contact/') Воронеж, Изыскателей, 23/3
          a(href='mailto:Nissan@motorlandgroup.ru') Nissan@motorlandgroup.ru
    .services-inner__content
      .inner
        p Автомобили, представленные японским концерном Ниссан, завоевали широкую популярность среди водителей. Они надежные, способны выдержать езду в экстремальных или напряженных условиях на протяжении длительного периода. Однако периодически может потребоваться ремонт двигателя, замена некоторых деталей новыми запчастями. Для этого достаточно обратиться в сервис Мотор Ленд в городе Воронеж. Опытные механики проведут компьютерную диагностику, чтобы оценить техническое состояние. На основании полученных результатов будет проведен ремонт. Автовладельцам важно учитывать, что регулярное сервисное обслуживание машины поможет предотвратить серьезные поломки, дорогое восстановление.
        figure
          figcaption
            h2 ТИПЫ РЕМОНТА ДВС В МОТОР ЛЕНД
            p Двигатель является основным агрегатом любого транспортного средства. От его полноценной работы зависит безопасность движения, срок эксплуатации. В процессе компьютерной диагностики можно просканировать силовую установку, определить неисправности, ресурс узла. На основании технического состояния агрегата, нашими мастерами в автосервисе может быть проведен ремонт:
            ul
              li срочный – оперативное устранение неисправностей;
              li плановый – предварительно запланированное посещение сервиса для оценки состояния, замены сломанных деталей, проведения регулировки силовой установки;
              li внеплановый – проведение незапланированного устранения неполадок или капитального восстановления.
            p Автомеханики используют качественные оригинальные запчасти, профессиональные инструменты, специализированное оборудование для ремонта.
          img(src='../../images/qashqai.jpg' alt='')
        p После его завершения агрегат обязательно тестируется, чтобы выходные параметры соответствовали характеристикам, заявленным производителем. Любые вопросы можно задать по телефону, чтобы получить квалифицированную консультацию или выбрать время для посещения автосервиса в Воронеже.
        h2 Популярные поломки двигателя Nissan
        p Частым обращением автовладельцев в сервисный центр Мотор Ленд в Воронеже становится сбой в работе датчика, который регулирует расход воздуха, или поломка регулятора холостого хода. Чаще всего они выходят из строя в результате загрязнения. Обычно качественная промывка этих деталей помогает решить проблему. Если при нажатии педали газа двигатель не реагирует, следует проверить дроссельную камеру. Высокая вероятность, что она требует очистки.
        p Важно регулярно проводить техническое обслуживание транспортного средства. Автомеханики выполняют глубокую диагностику состояния всех узлов и деталей, чтобы оценить их состояние. Для этого мастера используют профессиональное оборудование. Ведь на слух определить некоторые неисправности практически невозможно. При этом их несвоевременное устранение может стать причиной более серьезной поломки, требующей дорогой ремонт. Автосервис Мотор Ленд является официальным дилером компании Ниссан. Квалифицированные автомеханики хорошо знакомы с конструкцией популярных моделей автоконцерна. Они предоставляют услуги в соответствии с техническими картами завода-производителя.
        figure
          img(src='../../images/main-banner_3.jpg' alt='')
          figcaption
            h2 ТИПЫ РЕМОНТА ДВС В МОТОР ЛЕНД
            p Двигатель является основным агрегатом любого транспортного средства. От его полноценной работы зависит безопасность движения, срок эксплуатации. В процессе компьютерной диагностики можно просканировать силовую установку, определить неисправности, ресурс узла. На основании технического состояния агрегата, нашими мастерами в автосервисе может быть проведен ремонт:
            ul
              li срочный – оперативное устранение неисправностей;
              li плановый – предварительно запланированное посещение сервиса для оценки состояния, замены сломанных деталей, проведения регулировки силовой установки;
              li внеплановый – проведение незапланированного устранения неполадок или капитального восстановления.
            p Автомеханики используют качественные оригинальные запчасти, профессиональные инструменты, специализированное оборудование для ремонта.
        p После его завершения агрегат обязательно тестируется, чтобы выходные параметры соответствовали характеристикам, заявленным производителем. Любые вопросы можно задать по телефону, чтобы получить квалифицированную консультацию или выбрать время для посещения автосервиса в Воронеже.
        h2 Популярные поломки двигателя Nissan
        p Частым обращением автовладельцев в сервисный центр Мотор Ленд в Воронеже становится сбой в работе датчика, который регулирует расход воздуха, или поломка регулятора холостого хода. Чаще всего они выходят из строя в результате загрязнения. Обычно качественная промывка этих деталей помогает решить проблему. Если при нажатии педали газа двигатель не реагирует, следует проверить дроссельную камеру. Высокая вероятность, что она требует очистки.
        p Важно регулярно проводить техническое обслуживание транспортного средства. Автомеханики выполняют глубокую диагностику состояния всех узлов и деталей, чтобы оценить их состояние. Для этого мастера используют профессиональное оборудование. Ведь на слух определить некоторые неисправности практически невозможно. При этом их несвоевременное устранение может стать причиной более серьезной поломки, требующей дорогой ремонт. Автосервис Мотор Ленд является официальным дилером компании Ниссан. Квалифицированные автомеханики хорошо знакомы с конструкцией популярных моделей автоконцерна. Они предоставляют услуги в соответствии с техническими картами завода-производителя.
    block
