mixin accordions(mods)
  -
    const baseName = 'accordions'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .accordions(class=allMods)&attributes(attributes)
    block

mixin accordions__item(name)
  .accordions__item&attributes(attributes)
    .accordions__head !{name}
    .accordions__body
      block
