extends ../../layouts/layout

block variables
  -
    const pageName = 'add-vehicle'
    const pageTitle = 'add-vehicle'

    const substitute1 = [
      {
        img: '../../images/substitute-1.jpg',
        name: 'ЭКОНОМИТЕ свое ВРЕМЯ'
      },
      {
        img: '../../images/substitute-2.jpg',
        name: 'ИСПЫТАЕТЕ НОВЫЙ ОПЫТ'
      },
      {
        img: '../../images/substitute-3.jpg',
        name: 'НЕ МЕНЯЕТЕ СВОИ ПЛАНЫ'
      },
    ]

    const substitute2 = [
      {
        img: '../../images/substitute-4.jpg',
        name: 'ОФИЦИАЛЬНЫЙ ДИЛЕР NISSAN <b>БЕСПЛАТНО</b> ПРЕДОСТАВИТ ВАМ ПОДМЕННЫЙ АВТОМОБИЛЬ, ЕСЛИ ГАРАНТИЙНЫЙ РЕМОНТ ВАШЕГО АВТОМОБИЛЯ ЗАЙМЕТ БОЛЕЕ 4-Х ЧАСОВ. УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ БУДУТ ЗАВИСЕТЬ ОТ НАЛИЧИЯ СВОБОДНОГО А/М У ДИЛЕРА.'
      },
      {
        img: '../../images/substitute-5.jpg',
        name: 'В СЛУЧАЕ ПЛАНОВОГО ИЛИ КОММЕРЧЕСКОГО РЕМОНТА, МЫ СДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ ДЛЯ ПРЕДОСТАВЛЕНИЯ ПОДМЕННОГО АВТОМОБИЛЯ. УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ БУДУТ ЗАВИСЕТЬ ОТ НАЛИЧИЯ СВОБОДНОГО А/М У ДИЛЕРА.'
      },
    ]

block content
  main
    +section
      .inner
        +section__head
          +ui-h1('УСЛУГА «ПОДМЕННЫЙ АВТОМОБИЛЬ»', '--light')
        +section__head
          +ui-h3('С НАШЕЙ ПРОГРАММОЙ ВЫ:', '--light')
        +substitute(substitute1)
    +section
      .inner
        +section__img('../../images/add-vehicle.jpg')
    +section
      .inner
        +ui-p1('Мы заботимся о Вашем комфорте и личном времени, поэтому в экстренной ситуации Вы не останетесь без автомобиля. Услуга «Подменный автомобиль» поможет Вам сохранить мобильность на время ремонта и в других непредвиденных ситуациях.', '--light')
    +section
      .inner
        +substitute(substitute2)
    +section
      .inner
        +ui-p1('', '--light')
          p Ситуации могут быть разными, но будьте уверены в том, что специалисты Nissan решат проблему максимально быстро и комфортно. Это напрямую касается услуги «Подменный автомобиль», благодаря которой Вы можете получить автомобиль на замену. Таким образом, вы всегда остаётесь мобильными, не меняя свои планы.
          p В случае, если Вам по какой-либо причине не предложили подменный автомобиль, пожалуйста, свяжитесь с нами по телефону горячей линии
          p
            b 8 800 200 59 90.
