.ui-p1 {
  font: 16px/1.5 $font;
}
[class*='ui-p'] {
  &[class*='--light'] {
    font-weight: 300;
  }
  &[class*='--bold'] {
    font-weight: 700;
  }
  p {
    &:not(:last-child) {
      margin-bottom: 1.4em;
    }
  }
}
