.section {
  padding: 45px 0;
  @include media-tablet {
    padding: 40px 0;
  }
  &--ov-h {
    overflow: hidden;
  }
  &--bg {
    background: #f8f8f8;
  }
  &--pb0 {
    padding-bottom: 0;
  }
  &__head {
    text-align: center;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 40px;
      @include media-tablet {
        margin-bottom: 35px;
      }
    }
    &--text-start {
      text-align: start;
    }
  }
}
