mixin article(mods)
  -
    const baseName = 'article'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .article(class=allMods)&attributes(attributes)
    .article__head
      .article__cover: img(src='../../images/main-banner_1.png' alt='')
      +ui-h1('ТЕХНОЛОГИЧЕСКИЕ ФИШКИ НИССАН', 'article')
    .article__text
      p
        b Замена масла в CVT и АКПП с выгодой 15%*.
        |  Nissan Мотор Ленд предлагает замену масла в CVT и AKПП по специальной цене. 
      p
        b Спешите, предложение ограничено!
      h2 ИННОВАЦИИ В МОДЕЛИ JUKE
      p
        b *Выгода 15%
        | предоставляется за счет списывания бонусных баллов по программе лояльности «МОТОР ЛЕНД Бонус».
      ul
        li Стоимость автомобиля определяет наличие многих функций, чтобы понять, насколько оправдана цена Ниссан Жук, стоит рассмотреть все инновации присутствующие в этой модели. Большое внимание разработчики уделили вопросам безопасности. В авто есть много систем, заметно облегчающих пользование Жуком:
        li Система контроля рядности движения. Если вы случайно пересекли разделительную метку своей полосы – электроника предупредит об этом звуковым сигналом;
        li Распознавание приближающихся объектов. Помогает легко занять парковочное место, без угрозы повредить соседнюю машину, а так же покинуть его без создания аварийной ситуации;
        li Мониторинг слепых зон. Перед началом маневра в слепой зоне появилось другое транспортное средство? Предупредительный звуковой сигнал известит вас об этом;
        li Контроль давления в шинах. Эта «способность» машины помогает водителю поддерживать оптимальное давление в шинах в зависимости от состояния дороги;
        li Система курсовой устойчивости. Если она определила, что машину сносит, сильно кренит, или она водитель самостоятельно не может удержать ее на заданной траектории, то автоматически подключается антипробуксовочная функция и способность изменения динамических настроек;
        li Подушки безопасности. Кроме уже привычных передних, встроены боковые, они эффективно защищают от бокового удара.
      p Предложение действительно с 01.01.2023 по 31.03.2023 г.
    block
