.promotion-inner {
  &__cover {
    margin-bottom: 60px;
    @include media-tablet {
      margin-bottom: 40px;
    }
  }
  &__text {
    font-size: 16px;
    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
