extends ../../layouts/layout

block variables
  -
    const pageName = 'contact'
    const pageTitle = 'contact'

block content
  main
    +section
      .inner
        +section__head
          +ui-h1('Контакты')
        +contact
    +section
      .inner
        +section__head('--text-start')
          +ui-h3('О ДИЛЕРСКОМ ЦЕНТРЕ')
        +ui-p1('')
          p На сегодняшний день автоцентр Мотор Ленд крупнейший дилерский центр Nissan в Черноземье. Удобное расположение, левобережный участок окружной автодороги, делает его доступным из разных районов Воронежа. А две крупных магистрали, Ростовская и Тамбовская трассы, делают нас такими же близкими и доступными для районных центров области.
          p Благодаря профессионально подобранной команде специалистов Группа Компаний Мотор Ленд всегда ориентирована на клиентов. Это значит, что своей главной задачей мы видим постоянное и непрерывное улучшение качества вашего обслуживания. Все наши специалисты регулярно проходят обучение, повышают свою квалификацию.
          p Каждую секунду мы создаем и развиваем долговременные отношения с клиентами компании. Каждое замечание принимается и анализируется для дальнейшего совершенствования нашей работы. Мы всегда на связи, всегда открыты для прямого общения и ваше мнение для нас приоритетно. Здесь нет мелочей, здесь все важно. Вежливость и внимательность персонала основывается на главном принципе Группы Компаний Мотор Ленд: клиент — часть нашей команды!
    +section
      .inner
        +map
    +section
      .inner
        +section__head('--mb-xs')
          +ui-h2('СВЯЗАТЬСЯ С НАМИ')
        +section__head
          +ui-h4('СВЯЗАТЬСЯ С НАМИ, ЗАПОЛНИВ ОНЛАЙН-ФОРМУ', '--light')
        +form('message')
