extends ../../layouts/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    .inner
      +ui-h1(pageTitle)
      br
      br
      //- a(href='blocks.html') Repository blocks
      br
      a(href='main.html') Main
      br
      a(href='promotions.html') Акции (= Специальные программы = Статьи)
      br
      a(href='promotions-inner.html') Акции - детальная (= Статьи - детальная)
      br
      a(href='services.html') Услуги и сервисы
      br
      a(href='services-inner.html') Услуги и сервисы - детальная
      br
      a(href='customer-promise.html') Обещания Nissan
      br
      a(href='service-maintenance.html') Сервисные пакеты NISSAN
      br
      a(href='nissan-services.html') Выгодные сервисные предложения
      br
      a(href='add-vehicle.html') Подменный автомобиль
      br
      a(href='reconstruction.html') Реконструкция дилерского центра
      br
      a(href='contact.html') Контакты
