// fonts
$font: 'NissanBrand', 'Arial', sans-serif;

// colors
$black: #222;
$orange: #fe5000;
$teal: #008080;
$red: #c3002f;
$red-dark: #94001e;
$grey: #f8f8f8;

// media
$mediaWidthDesktop: 1550px;
$mediaWidthLaptop: 1200px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
