mixin substitute(data, mods)
  -
    const baseName = 'substitute'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .substitute(class=allMods)&attributes(attributes)
    each item in data
      .substitute__item
        .substitute__img.img-16-9: img(src=item.img alt='')
        .substitute__name !{item.name}
    block
