mixin gallery-card(mods)
  -
    const baseName = 'gallery-card'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  a.gallery-card(class=allMods data-fancybox='photo-gallery' href='../../images/gallery-1.jpg')&attributes(attributes)
    img(src='../../images/gallery-1.jpg', alt="")
    block
