extends ../../layouts/layout

block variables
  -
    const pageName = 'promotions-inner'
    const pageTitle = 'promotions-inner'

block content
  main
    +section
      .inner.inner--max-w990
        +promotion-inner
