mixin form(mods)
  -
    const baseName = 'form'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  form.form(class=allMods)&attributes(attributes)
    .form__section
      +ui-p1('Причина обращения и автомобиль', '--light')
      +ui-select('', 'Ремонт', 'Техническое обслуживание', 'Кузовной ремонт', 'Другое')(placeholder='Причина обращения')
    .form__section
      +ui-p1('Дата и время визита', '--light')
      +ui-datepicker('Выберите дату', '--single')
      +ui-input('time', 'Введите время', '--time')(data-mask='time')
    .form__section
      +ui-p1('Личные данные', '--light')
      +ui-input('name', 'Имя *')(required)
    .form__section
      +ui-p1('Контактная информация', '--light')
      .form__tel
        +ui-select()(data-tel-code)
          option(value='+7' data-short='Ru' selected) Russian Federation (Российская Федерация)
          option(value='+375' data-short='By') Belarus (Беларусь)
          option(value='+372' data-short='Ee') Estionia (Eesti)
          option(value='+7' data-short='Kz') Kazakhstan (Казахстан)
          option(value='+371' data-short='Lv') Latvia (Latvija)
          option(value='+370' data-short='Lt') Lithuania (Lietuva)
        +ui-input('tel', 'Телефон *')(required data-parsley-length="[16, 16]" data-parsley-error-message='Это поле обязательно для заполнения')
    .form__section
      +ui-checkbox('consent', '')(required data-parsley-error-message='Это поле обязательно для заполнения')
        a(href='#') Согласен с обработкой моих персональных данных и на коммуникацию
        |  *
      +ui-checkbox('consent-communication', 'Отправляя заявку, вы даете согласие на')(required data-parsley-error-message='Это поле обязательно для заполнения')
        =' '
        a(href='#') коммуникацию
        |  *
    .form__submit
      +ui-button('Отправить', 'form')(type='submit')
    block
