.ui-ul {
  li {
    position: relative;
    padding-left: 25px;
    &:not(:last-child) {
      margin-bottom: 0.8em;
    }
    &::before {
      content: '';
      position: absolute;
      top: calc((1.15em + 4px) / 2);
      left: 0;
      width: 4px;
      height: 4px;
      background: $red;
    }
  }
}
